/* TYPE: 
    Titles/Headers:    Montserrat Regular 400
    Paragraphs/Links:    Playfair Display Regular 400
*/

/* COLORS: 
    PINK:   #FF7581
    LIGHTER PINK: #FF98A1
    IVORY:  #F2E9D0
    DARKER IVORY: #C3BAA2
    LIGHT GREEN:    #A6C269
    LIGHT BLUE: rgb(228, 230, 255)
    DARK GREEN:     #245C4E
*/

/* CSS for all pages */

body {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    background-color: #F2E9D0;
}

/* Header */

header {
    background-color: #245C4E;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img {
    width: 150px;
    height: auto;
    padding: 20px;
}

.title h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 0 20px;
}

nav {
    background-color: #A6C269;
    display: flex;
    flex-direction: column;
    align-items: left;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1.3em;
}

.respons-a:hover {
    background-color: #FF7581;
}

.menu::before {
	content: "≡";
    font-size: 2em;
}

.responsive .respons-a, .responsive .social {
	display: none;
}

.social {
    display: flex;
    flex-direction: row;
}

.social img {
    width: 40px;
    height: auto;
}

/* Footer */

footer {
    background-color: #245C4E;
}

.title-f {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-f img {
    width: 100px;
    height: auto;
    padding: 20px;
}

.title-f h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 0 20px;
}

.info-f, .contact {
    padding: 20px;
}

.info-f p, .contact p {
    color: white;
}

.info-f a, .info-f a:visited {
    text-decoration: underline;
    color: rgb(228, 230, 255);
}

.info-f a:hover {
    text-decoration: none;
}

.social-f {
    display: flex;
    flex-direction: row;
}

.social-f img {
    width: 40px;
    height: auto;
    padding: 15px;
}

/* CSS for index.html */

.intro {
    width: 80%;
    margin: 10px auto;
}

.intro p {
    padding: 20px;
}

.intro p:first-of-type {
    text-align: center;
    font-size: 1.2em;
}

.intro p:nth-of-type(odd) {
    background-color: #FF7581;
}

.intro p:nth-of-type(even) {
    background-color: #A6C269;
}

.intro img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.gallery img {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery p {
    padding: 20px;
    margin: 0 auto;
}

.weather {
    background-color: #A6C269;
    width: auto;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 30px;
}

.weather p:first-of-type {
    font-size: 1.3em;
}

#forecast {
    background-color: #FF7581;
    border-radius: 0 0 30px 30px;
    padding: 20px 60px;
}

#forecast p:first-of-type {
    font-size: 1.2em;
}

.coastal {
    background-color: #C3BAA2;
    width: 50%;
    padding: 20px;
    margin: 10px auto;
}

.make {
    display: flex;
    justify-content: center;
}

.make img {
    object-fit: cover;
    width: 90%;
    max-width: 680px;
    height: auto;
}

.make h2 {
    position: absolute;
    background-color: #245C4E;
    color: white;
    width: 60%;
    padding: 20px;
    margin-top: 50px;
}

.make-order {
    background-color: #FF7581;
    border-radius: 20px;
    font-size: 1.3em;
    text-align: center;
    width: 130px;
    padding: 20px;
    margin: 10px auto;
}

.make-order a {
    color: black; 
    text-decoration: none;
}

.submitted {
    background-color: #A6C269;
    text-align: center;
    width: 300px;
    padding: 20px;
    margin: 10px auto;
}


/* CSS for fresh.html */

.order-form {
    width: 90%;
    margin: 10px auto;
}

.order-form h2 {
    text-align: center;
    color: #245C4E;
}

fieldset, label {
    display: flex;
    flex-direction: column;
}

input, textarea, select {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    padding: 5px;
}

label {
    padding-top: 10px;
}

input:required {
    border-left: solid red 10px;
}

input:valid {
    border-left: solid green 10px;
}

#submit {
    font-family: "Playfair Display", sans-serif;
    background-color: #FF7581;
    font-size: 1.3em;
    padding: 20px;
    border-radius: 20px;
}

.summary {
    background-color: #FF98A1;
    width: auto;
    max-width: 400px;
    padding: 20px;
    margin: 10px auto;
    display: none;
}

.summary h2, .summary h3 {
    text-align: center;
}





/* CSS for about-us.html */





/* Media queries */

/* Media query for medium viewport */
@media screen and (min-width: 700px) {

    /* CSS for all pages */

    /* Header */

    .title {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    /* Footer */

    footer {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 1fr 1fr;
    }

    .title-f {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0;
    }

    .info-f {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0 20px;
    }

    .contact {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .social-f {
        grid-column: 2/3;
        grid-row: 1/2;
        align-items: center;
    }

    /* CSS for index.html */

    #home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .intro img, .gallery img {
        width: 500px;
    }

    .intro {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .gallery {
        grid-column: 1/3;
    }

    .weather {
        grid-column: 1/2;
        width: fit-content;
        height: fit-content;
    }

    .coastal {
        grid-column: 2/3;
    }

    .make, .make-order {
        grid-column: 1/2;
    }

    .make img {
        width: 300px;
    }

    .make h2 {
        display: none;
    }

    .submitted {
        grid-column: 2/3;
        width: 270px;
    }

    /* CSS for fresh.html */

    .order-form {
        width: 500px;
    }

    /* CSS for about-us.html */
}


/* Media query for large viewport */
@media screen and (min-width: 950px) {

    /* CSS for all pages */

    /* Header */

    nav {
        justify-content: space-around;
    }

    nav a {
        padding: 10px 30px;
    }

    .menu::before, .menu {
        display: none;
    }

    .responsive .respons-a, .responsive .social {
        display: block;
        padding: 15px;
    }

    /* Footer */

    .info-f {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
    }

    .info-f p {
        grid-auto-flow: row;
        margin: 0;
    }

    /* CSS for index.html */

    /* CSS for fresh.html */

    /* CSS for about-us.html */

    .intro h2 {
        background-color: #245C4E;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .intro a, .intro a:visited {
        color: white;
    }

    .intro a:hover {
        text-decoration: none;
    }

}

/* Media query for extra large viewport */

@media screen and (min-width: 1400px) {

    /* CSS for index.html */

    #home-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, auto-fit);
    }

    .intro {
        grid-column: 1/3;
    }

    .gallery {
        grid-column: 3/5;
    }

    .weather {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .coastal {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    .make {
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: center;
    }

    .make img {
        width: 400px;
        height: fit-content;
    }

    .submitted {
        grid-column: 2/3;
        grid-row: 2/3;
    }
}