/* TYPE: 
    Titles/Headers:    Montserrat Regular 400
    Paragraphs/Links:    Playfair Display Regular 400
*/

/* COLORS: (adjusted from Illustrator to be visually similar) 
    PINK:   #E24D59
    IVORY:  #F2E9D0
    LIGHT GREEN:    #A6C269
    DARK GREEN:     #2C7A67
*/

/* CSS for all pages */

body {
    font-family: "Playfair Display", sans-serif;
    font-size: 18px;
    background-color: #F2E9D0;
}

/* Header */

header {
    background-color: #2C7A67;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title img {
    width: 150px;
    height: auto;
    padding: 20px;
}

.title h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 0 20px;
}

nav {
    background-color: #E24D59;
    display: flex;
    flex-direction: column;
    align-items: left;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 1.3em;
}

.respons-a:hover {
    background-color: #2C7A67;
}

.menu::before {
	content: "≡";
    font-size: 2em;
}

.responsive .respons-a, .responsive .social {
	display: none;
}

.social {
    display: flex;
    flex-direction: row;
}

.social img {
    width: 40px;
}


/* Main - none*/

/* Footer */

footer {
    background-color: #2C7A67;
}

.title-f {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-f img {
    width: 100px;
    height: auto;
    padding: 20px;
}

.title-f h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    padding: 0 20px;
}

.info-f {
    padding: 20px;
}

.info-f p {
    color: white;
}

.info-f a, .info-f a:visited {
    text-decoration: underline;
    color: rgb(228, 230, 255);
}

.info-f a:hover {
    text-decoration: none;
}

.social-f {
    display: flex;
    flex-direction: row;
}

.social-f img {
    width: 40px;
    padding: 15px;
}

/* CSS for index.html */



/* CSS for fresh.html */


/* CSS for about-us.html */


/* CSS for attributions.html - none */





/* Media queries */

/* Media query for medium viewport */
@media screen and (min-width: 700px) {

    /* CSS for all pages */

    /* Header */

    .title {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        align-items: center;
    }

    /* Footer */

    .info-f {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .info-f:nth-child(1-2) {
        grid-column: 1/2;
    }

    .info-f:nth-child(3-4) {
        grid-column: 2/3;
    }

    .info-f p:last-of-type {
        
    }


    /* CSS for index.html */

    /* CSS for fresh.html */

    /* CSS for about-us.html */
}


/* Media query for large viewport */
@media screen and (min-width: 950px) {

    /* CSS for all pages */

    /* Header */

    /* Footer */

    /* CSS for index.html */

    /* CSS for fresh.html */

    /* CSS for about-us.html */

}

